@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var Sliders = Model.Sliders;
    var Blogs = Model.Blogs;
    var Courses = Model.Courses;
    var Events = Model.Events;
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
    
       @foreach (var slider in Sliders)
        {
            <div class="single-slide item" style="background-image: url(/assets/img/slider/@slider.ImageUrl);object-fit:contain;">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        @Html.Raw(slider.Title)
                                      
                                        <p>@slider.Subtitle</p>
                                        <a class="default-btn" href="about.html">@slider.ButtonText</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
     
    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>
                   @foreach (var event1 in Events)
                   {
                        <div class="single-notice-left mb-25 pb-25">
                        <h4>@event1.StartTime</h4>
                        <p style="font-weight:bold">@event1.Title</p>
                    </div>
                   }
                 
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/assets/img/course/@course.ImageUrl" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@course.Title</a></h3>
                            <p>@course.Description.Substring(0,18) ...</p>
                            <a class="default-btn" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
       
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("EventItem")
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @await Component.InvokeAsync("FeedbackSlider")

            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Blogs)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id"><img src="~/assets/img/blog/@blog.ImageUrl" alt="blog"></a>
                            <div class="blog-hover">
                                <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@blog.Author/@blog.Created.ToString("dddd, dd MMMM yyyy")  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@blog.Description.Substring(0,18) ... </a></h2>
                                <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->